<!DOCTYPE html>
<html lang="en">
<head>
    <style>
  #foot {
    font-size: 27px;
    margin-top: -12px;
    text-align: ceneter;
    margin-left: 374px;
}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
        <!-- <p id="foot">Copyrights &copy all rights reserved</p> -->
   
</body>
</html>